@media only screen and (max-width:688px) {
    header{
        width: 690px;
    }
    nav{
        display:none;
        visibility:hidden;
    }
    .banner-area {
        margin-top:0;
        flex-direction: column;
        background-color: #2D25A0;
    }
    .banner-image img,.highlight-image img {
        width:70%;
        margin-top:5%;
    }
    h1{
        font-size:40px;
    }
    .player-title{
        font-size:30px;
    }
    .players,clubs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .player{
        box-shadow: none;
        margin: 0px 18%;
    }
    .highlight-area{
        display: block;
        width:500px;
        height:auto;
        margin: 0 auto;
    }
}